h1{
	color: white;
}

sup {
	line-height:0;
	vertical-align:text-top;
	position: relative;
    top: 0.2em;
}

.blanc{
	color: white;
}

.bleu{
	color: #5e98ff;
}

.jaune{
	color: #ffff70;
}

.rose{
	color:  pink;
}